# Ignore node_modules (dependencies)
node_modules/

# Ignore environment variables
.env

# Ignore Firebase service account credentials
serviceAccountKey.json

# Ignore logs and cache files
logs/
*.log
